h1{
    color: red;
}
body{
    background: url(https://images.rawpixel.com/image_social_landscape/cHJpdmF0ZS9zdGF0aWMvaW1hZ2VzL3dlYnNpdGUvMjAyMi0wNS9ybTQyMi0wNzYteC5qcGc.jpg?s=12XEN_JtC_urL8QGGgT2B6ujqs6XO4IppQhb8gLLVTQ);

background-size:auto ;}
p{
    color: blue;
}
h2{ color: aquamarine;}

ul{ color: green;}
h3{color: coral;}

li{color: burlywood;}

